.Header-container {
  min-width: 100%;
  height: 200px;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 15px;
  background-color: #e5a2a2;
}

.Input-Form {
  margin: 10px;
  min-width: 100%;
  margin-bottom: 40px;
}

.Input-Form>* {
  margin: 5px;
  border: 0.2px solid black;
  min-width: 300px;
  height: 30px;
  background-color: rgb(182, 173, 173);
}

.Title-Name {
  min-width: 100%;
  margin: 10px;
  color: rgb(0, 0, 0);
}

#Add-button {
  background-color: rgb(3, 182, 3);
  min-width: 110px;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
}