.Header-container {
  min-width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  padding-top: 15px;
}

.Input-Form {
  margin: 10px;
  min-width: 100%;
  margin-bottom: 40px;
}

.Input-Form>* {
  margin: 5px;
  border: green solid 3px;
  min-width: 300px;
  height: 30px
}

.Title-Name {
  min-width: 100%;
  margin: 10px;
  color: rgb(2, 107, 2);
}

#Add-button {
  background-color: rgb(3, 182, 3);
  min-width: 150px;
}