.parent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin: 5px; */
  min-height: calc(100vh - 200px);
  height: calc(minmax(100dvh - 200px, 30000px));
  background-color: #555555;
  padding: 5px;
}

#card-parent {
  background-color: rgb(107, 246, 246);
  padding: 10px;
  margin: 0 auto;
  width: 25rem;
  height: 20rem;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-self: end;
  gap: 8px;
}

.body-container {
  display: grid;
}

.Dorpdwn-container {
  display: flex;
  gap: 10px
}

.filter-dropdown {
  background-color: #555555;
  font-size: 1em;
}

.Filter-select {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

#filter-select {
  /* background-color: lightblue; */
  border-radius: 5px;
}

.completed-task {
  background-color: lightgreen;
}

.not-completed-task {
  background-color: lightcoral;
}


@media screen and (max-width: 600px) {

  * {
    font-size: x-small;
  }

  .parent-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }

  #card-parent {
    width: 300px;
    height: 200px;
    font-size: 0.8rem;
  }

  .btn {
    width: 25%;
    font-size: smaller;
  }
}

@media screen and (min-width: 700px) and (max-width: 1020px) {
  .parent-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100%;
  }

  /* .drop-Down {
    font-size: x-small;
  } */

  #card-parent {
    width: 270px;
    height: 200px;
    font-size: 0.8rem;
  }

  .btn {
    width: 25%;
    font-size: smaller;
  }
}


@media screen and (min-width: 1024px) {
  .parent-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
  }

  /* .drop-Down {
    font-size: smaller;
  } */

  #card-parent {
    width: 270px;
    height: 200px;
    font-size: 0.8rem;
  }

  .btn {
    width: 25%;
    font-size: smaller;
  }
}

@media screen and (min-width: 1400px) {
  .parent-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 100%;
  }

  /* 
  .drop-Down {
    font-size: 0.7rem;
  } */

  #card-parent {
    width: 330px;
    height: 230px;
    font-size: 1rem;
  }
}


@media screen and (min-width: 2550px) {
  .parent-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-width: 100%;
  }

  /* .drop-Down {
    font-size: 0.5rem;
  } */

  #card-parent {
    width: 330px;
    height: 230px;
    font-size: 1rem;
  }
}